<html>
    <head>
        <style>
            a.primary-btn {
                padding: 0.5rem 1.25rem;
                background-color: lightskyblue;
                border-radius: 4px;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                margin-top: 15px;
            }
            a.primary-btn:hover {
                background-color: lightskyblue;
            }

            .text-center {
                text-align: center;
                margin-top: 15px;
            }
        </style>
    </head>
    <body>
        <h1 style="margin-bottom: 20px;">Successful password reset</h1>
        <p>Hi {{name}},</p>
        <p>Your password reset was successful.</p>
        <p>You can now use your new password to login to your account..</p>
        <div  class="text-center" style="margin-top: 40px">
            <a class="primary-btn" href="https://www.aar.com">Reset Your Password</a>
         </div>
    </body>
</html>